# Created by .ignore support plugin (hsz.mobi)
# Created by .ignore support plugin (hsz.mobi)
.idea/
.idea/workspace.xml
/.idea/
.idea
.idea/*
target/
rubiconBot.iml
rubicon.iml
/config.json
full.log
latest.log
