# Created by .ignore support plugin (hsz.mobi)
.idea/
.idea/workspace.xml
/.idea/
.idea
.idea/*
target/*
rubiconBot.iml
rubicon.iml
/config.json
/latest.log
/full.log
full.log
latest.log
*.log
/.gitignore
out/*
src/META-INF/MANIFEST.MF
rubiconBot (1).iml
rubiconBot (2).iml
SERVER_SETTINGS/380415148545802250/vote.dat^
config.json
*.dat
